html{
    background-color: #242424;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #242424;  
}

.mapContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 50px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    background-color: #242424;  
    max-width: 1280px;
}

h1 {
    padding-top: 30px;
    color: #999;
}

h2 {
    padding-top: 30px;
    color: #999;
    margin-top: -500px;
}

.img{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#assetPb{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 640px;
    width: 1280px;
    margin-top: 50px;
}

#assetRk{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 640px;
    width: 1280px;
}

#assetLtm{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 640px;
    width: 1280px;
}

#current,
#next,
#rank,
#rankNext,
#ltm,
#ltmNext {
    font: bold;
    font-size: 22px;
    color: #fff;
    margin-bottom: 25px;
}

#remainingTimer,
#remainingTimerLtm,
#text {
    font-size: 20px;
    color: #fff;
    font-style: italic;
    margin-bottom: 25px;
}

footer{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #fff;
}